@import "tailwindcss";

body{
  margin:0;
  padding:0;
  background:#0f172a;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}


@keyframes fadeUp {

  0% {

    opacity: 0;
    transform: translateY(260px) scale(0.94);
    filter: blur(18px);

  }

  15% {

    opacity: 0.25;

  }

  45% {

    opacity: 0.75;
    filter: blur(4px);

  }

  100% {

    opacity: 1;
    transform: translateY(0px) scale(1);
    filter: blur(0px);

  }

}

.animate-fade {

  animation: fadeUp 2.8s cubic-bezier(0.22, 1, 0.36, 1);

}