@import "tailwindcss";

body{
  margin:0;
  padding:0;
  background:#0f172a;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}


@keyframes fadeUp {

  0% {
    opacity: 0;
    transform: translateY(220px) scale(0.96);
    filter: blur(12px);
  }

  10% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
    filter: blur(0px);
  }

}

.animate-fade {

  animation: fadeUp 1.5s ease-out;

}